/* Main Content style */
section {
    padding: 0% 5%;
    flex: 1;
    flex-shrink: 0; /* Prevent shrinking */
    word-wrap: break-word; /* Handle long text on smaller screens */
}

/* Responsive behavior */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        padding: 2%; /* Adjust padding for small screens */
    }

    .profile-aside, section {
        width: 100%; /* Full width on small screens */
        margin-right: 0; /* Remove right margin in column layout */
        padding: 5%; /* Add some padding to ensure readability */
    }

    section {
        text-align: justify; /* Optional: This can improve readability */
    }
}
