body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Profile container */
.profile-container {
    margin: auto;
    display: flex;
    padding: 1%;
    background-color: #c9e7ff;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden; /* prevent content from overflowing */
	align-items: center; /* vertically center content */
}

/* Profile Aside style */
.profile-aside {
    padding: .5%;
    width: 20%;
    display: flex; /* center the image */
    align-items: center; /* vertically center image */
    justify-content: center; /* horizontally center image */
}

/* Profile image, responsive */
.profile-aside img {
    max-width: 100%;
    height: auto;
}

/* Main content style */
section {
    padding: 0% 5%;
    flex: 1;
    flex-shrink: 0; /* prevent shrinking */
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
}

/* Navigation bar container */
.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

/* Navigation links */
.nav-links {
    list-style: none; /* remove default list styles */
    margin: 0;
    padding: 0;
    display: flex; /*  horizontal alignment */
    justify-content: space-around; /* space links evenly */
    flex-wrap: wrap; /* wrapping of links on smaller screens */
}

/* Navigation link items */
.nav-links li {
    margin: 0;
}

/* Navigation link styles */
.nav-links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 600;
    flex-grow: 1;
}

/* Change background color on hover */
.nav-links a:hover {
    background-color: #575757;
}

/* Container with flexbox */
.container {
    padding: 5%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Footer style */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        padding: 2%;
        max-width: 100%;
    }

    .profile-aside, section {
        width: 100%;
        margin-right: 0;
        padding: 5%; 
        box-sizing: border-box;
    }

    section {
        text-align: justify;
    }
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
    .nav-links a {
        padding: 10px;
    }
}
